<div class="search-home-main-container">
  <div class="main-heading">
    <span>Search Your Nearest Vaccination Center</span>
  </div>
  <div class="sub-heading">
    <span
      >Get a preview list of the nearest centers and check availability of
      vaccination slots</span
    >
  </div>
  <div class="login-heading">
    <span>Login to book your slot</span>
  </div>

  <nav class="navbar-expand-lg navbar-container">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="district"
            routerLinkActive="active"
            >By District</a
          >
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="pin"
            routerLinkActive="active"
            >By Pin</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="line"></div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
