.selected-item-form{
    width: 35rem; 
    padding: 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.p-button-rounded{
    background-color:  #017e7e !important;
}