<!-- <div class="otp-card">
  <p-card [style]="{ width: '28rem', 'margin-bottom': '2em' }">
    <form [formGroup]="form">
      <div class="">
        <h4>Register or Sign In for Vaccination</h4>
      </div>

      <div>
        <p>An OTP will be sent to your mobile number for verification</p>
      </div>

      <div class="field">
        <input
          type="username"
          aria-describedby="username2-help"
          placeholder="Enter Mobile Number"
          pInputText
          formControlName="mobile"
        />
      </div>
      <hr />
      <div>
        <button
          pButton
          pRipple
          type="button"
          label="Get OTP"
          class="p-button-raised p-button-success"
          (click)="genrateOtp()"
        ></button>
      </div>
      <div>
        <p>
          By Sign In/Registration, I agree to the
          <a href=""> Terms of Service </a> and <a href=""> Privacy Policy </a>
        </p>
      </div>
    </form>
  </p-card>
</div> -->

<div class="otp-main-container">
  <p-card [style]="{ width: '35rem', 'margin-bottom': '2em' }">
    <div class="otp-card-container">
      <div class="heading">
        <span>OTP Verification</span>
      </div>
      <div class="sub-heading">
        <span>An OTP has been sent to XXX XXX 8744</span>
      </div>
      <div class="input-container">
        <form [formGroup]="otpForm">
          <input
            type="text"
            class="p-inputtext-sm mb-4 mt-3 w-100"
            placeholder="Enter OTP"
            pInputText
            formControlName="otp"
          />
        </form>
      </div>
      <div class="genrate-otp">
        <p-button
          label="Verify & Proceed"
          styleClass="p-button-sm w-100 app-primary-btn"
          (click)="verifyOtp()"
          routerLink="/search"
        ></p-button>
      </div>
    </div>
  </p-card>
</div>
